@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic@400;700&display=swap");
@import "reset.css";
@import "variables.css";

/* layers */
@import "layers/header.css";
@import "layers/nav.css";
@import "layers/main.css";
@import "layers/footer.css";

/* components */
@import "components/top-menu.css";
@import "components/articles.css";

body {
  color: var(--black);
  font-size: 12px;
  /*font-family: "Noto Sans KR", sans-serif;*/
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}
.wrap {
  margin: 0px auto;
  width: 1000px;
}
.wrap__main {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #b3cbda;
}

ul {
  display: flex;
}
li {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #3498db;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}
