@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic@400;700&display=swap");
@import "reset.css";
@import "variables.css";

/* layers */
@import "layers/top-layer.css";

/* components */
@import "components/top-menu.css";

body {
  color: var(--black);
  font-size: 12px;
  /*font-family: "Noto Sans KR", sans-serif;*/
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}
.wrap {
  margin: 0px auto;
  width: 1000px;
}

ul {
  display: flex;
}
li {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
