main {
  width: 730px;
  margin-right: 20px;
}
/* padding section */
.padding-section {
  height: 127px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: var(--border);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.total {
  font-size: 13px;
  font-weight: 700;
  color: var(--darkblue);
}

/* article */
article {
  border-bottom: var(--border);
}

/* page section */
.page-section {
  display: flex;
  padding: 20px 0px;
}
.pages {
  display: flex;
}
