main {
  width: 730px;
  margin-right: 20px;
}
/* padding section */
.padding-section {
  height: 127px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: var(--border);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.total {
  font-size: 13px;
  font-weight: 700;
  color: var(--darkblue);
}

/* article */
article {
  border-bottom: var(--border);
}

/* page section */
.page-section {
  display: flex;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
}
.pages {
  display: flex;
  align-items: center;
}
.previous-page,
.next-page {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px 5px;
  color: white;
  background-color: #0097e6;
  border: none;
}
.previous-page {
  background-color: gray;
}
.previous-page:hover,
.page-list__page--previous-page a:hover {
  cursor: default;
}
.page-list__page--previous-page a:hover,
.page-list__page--next-page a:hover {
  color: var(--black);
}
.page-list__page {
  padding: 0px 7px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: 700;
}
.page-list__page--previous-page,
.page-list__page--next-page {
  padding: 0px 10px;
  font-size: 13.5px;
}
.page-list__page:last-child {
  border: none;
}
.current-page {
  color: #ff6348;
}
.page-button {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.page-button i {
  margin-right: 5px;
}

/* categories */
.categories-box {
  border: 2px solid #b3cbda;
  border-radius: 5px;
}
.categories__search,
.categories {
  display: flex;
  justify-content: space-between;
}
.categories__search {
  background-color: #eaf0f4;
  align-items: center;
  padding: 5px 15px;
}
.categories__search--title {
  font-size: 12px;
  color: var(--darkblue);
  font-weight: 700;
  margin-left: 5px;
}
.categories__search--search {
  display: flex;
}
.categories__search--search input {
  margin-left: 5px;
  height: 14px;
}
.category-selector,
.categories__search--search button {
  font-size: 11px;
}
.categories__search--search button {
  margin-left: 5px;
}
.button-find,
.button-reset {
  padding: 2px 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.button-find i,
.button-reset i {
  margin-right: 3px;
}
.button-operator {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #b3cbda;
  border-radius: 3px;
  padding: 0px;
  padding-left: 3px;
}
.button-operator span {
  font-size: 13px;
}
.button-operator .arrow-box {
  margin-right: 0.5px;
  background-color: #bbcefd;
  border-radius: 3px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}
.categories__column {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 35px;
  border-right: 1px solid #b3cbda;
}
.categories__column:last-child {
  border: none;
}
.categories__category {
  padding-top: 5px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}
