nav {
  padding-bottom: 7px;
  border-bottom: var(--border);
  margin-bottom: 10px;
}
.nav-bar {
  margin: 7px 0px;
  background-color: var(--blue);
  height: 35px;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 2px;
}
.nav-bar__category {
  padding: 0px 16.5px;
  border-right: 1px solid #000000;
  padding-bottom: 2px;
}
.nav-bar__category:nth-child(2) > a {
  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 2px solid #74b9ff;
}
.nav-bar__category:last-child {
  border: none;
}

.nav-search__notice {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.nav-search__search {
  display: flex;
  align-items: center;
}
.nav-search__search input {
  margin: 0px 5px;
}
.nav-search__search button {
  background-color: var(--blue);
  height: 22px;
  border-radius: 5px;
  font-size: 11px;
  color: white;
}
